body, html {
    background: rgb(155, 110, 110);
    height: 100%;
}
section {
    width: 50%;
    height: 50%;
    float: left;
    display: grid;
    align-content: center;
    justify-content: center;

}
.yellow {
    background: yellow;     
}

.salmon {
    background: salmon;  
    text-align: center;

}
.flex{
    display: flex;
    justify-content: space-around;
}

.flex2{
    display: flex;
    justify-content: space-around;

}

.column {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#img1{
    margin-left: 30px;
    margin-right: 0px;
}

#img2{
    margin-left: 25px;
    margin-right: 5px;
}
#img3{
    margin-left: 20px;
    margin-right: 10px;
}
#img4{
    margin-left: 15px;
    margin-right: 15px;
}
   
.lightgreen {
    background: lightgreen;
}

.dodgerblue {
    background: dodgerblue;
    /* display: flex;
    flex-wrap: wrap; */
    text-align: center;

}#out {
    color: red
}

#container{
    display: flex;
}

.div-shared{
    width: 100px;
    height: 80px;
    border: 1px solid black;

}

#myDIV {
    position: absolute;
    background-color: lightblue;
  }
  
  #DIV2 {
    position: relative;
    background-color: coral;
  }

  /* .column1 {
    display: flex;
}
    */


#box1{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 3px 5px 5px green;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
}

#box2{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 3px 5px green;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 5px;
}

#box3{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 3px 3px 5px 5px green;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;

}


/* .container{

    display: flex;
    flex-wrap: wrap;
} */





